{% extends "admin/layout.html" %}
{% block content %}
    <br>
    <p class="title is-3">Total {{ subscribers|length }}</p>
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Email</th>
                <th>Mendaftar</th>
            </tr>
        </thead>
        <tbody>
                {% for subscriber in subscribers %}
            <tr> 
                <td>{{ loop.index }}</td>       
                <td>{{ subscriber.surel }}</td>
                <td>{{ subscriber.tanggaldibuat|indonesia_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}