{% extends "admin/layoutalbarokah.html" %}
{% block content %}
<h1><strong>Tambah Data Pemeliharaan </strong></h1>
<br>
    <div class="my-4">
			<form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="field">
                    {{ form.nama.label(class="label") }}
                    {% if form.nama.errors %}
                        {{ form.nama(class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.nama.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.nama(class="input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {{ form.pekerjaan.label(class="label") }}
                    {% if form.pekerjaan.errors %}
                        {{ form.pekerjaan(class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.pekerjaan.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.pekerjaan(class="input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {{ form.luas.label(class="label") }}
                    {% if form.luas.errors %}
                        {{ form.luas(class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.luas.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.luas(class="input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {{ form.lati.label(class="label") }}
                    {% if form.lati.errors %}
                        {{ form.lati(class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.lati.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lati(class="input") }}
                    {% endif %}
                </div>
                <div class="field">
                    {{ form.longi.label(class="label") }}
                    {% if form.longi.errors %}
                        {{ form.longi(class="input") }}
                        <div class="invalid-feedback">
                            {% for error in form.longi.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.longi(class="input") }}
                    {% endif %}
                </div>
                
                <div class="field">
                    {{ form.gambar.label(class="file-label") }}
                    {{ form.gambar(class="") }}
                    {% if form.gambar.errors %}
                        {% for error in form.gambar.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
            </div>
            
                <div class="field">
                    <div class="form-group">
                        {{ form.submit(class="button is-info") }}
                    </div>
                </div>
			</form>
		</div>
{% endblock content %}