{% block subscribe %}
<div class="columns"  >
  <div class="column" style="margin-left:15px;margin-right:15px;">
    <div class="box" style="margin-left:15px;margin-right:15px;">
      <p class="title is-5 has-text-centered">Ikuti Melalui Email  </p>
      <p class="subtitle is-6 has-text-centered">Dapatkan info terbaru, dikirim ke email Anda</p>
      <form method="POST" action="{{ url_for('main.pengikut') }}">
        {{ form.hidden_tag() }}
        <input type="hidden" value="{{request.url}}" name="kembali">
        <div class="field">
          <div class="control">
              {% if form.email.errors %}
                  {{ form.email(class="input has-text-centered") }}
                  {% for error in form.email.errors %}
                    <p class="help is-danger">{{ error }}</p>
                  {% endfor %}
              {% else %}
                  {{ form.email(class="input has-text-centered") }}
              {% endif %}
          </div>
        </div>
        <div class="field">
          <div class="control">
            {{ form.submit(class="button is-link is-fullwidth") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock subscribe %}